Debug/*
Release/*
mmcpp/Debug/*
mmcpp/x64/Debug/*
mmcpp/Release/*
mmcpp/x64/Release/*
mmcs/Debug/*
mmcs/Release/*
mmcs/bin/*
mmcs/obj/*
mmtemp/x64/*
x64/Debug/
x64/Release/
.vs/*
mmcpp/mmcpp.vcxproj.user
mmtemp/mmtemp.vcxproj.user
